<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>AdonisJS Foundry API Documentation</title>
		<style>
			html,
			body {
				height: 100%;
				margin: 0;
			}
			#scalar-app {
				height: 100%;
			}
		</style>
		@vite(['inertia/docs.tsx'])
	</head>
	<body>
		<div id="scalar-app"></div>
	</body>
</html>
